# EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

whr_all_years = pd.read_csv('../data/years_combined.csv')
whr_all_years.head(5)

,country,happiness_rank,happiness_score,economy_gdp_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,year,region
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,Western Europe
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,Western Europe
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,Western Europe
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,Western Europe
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,North America

In [2]:
# Average happiness score by region by year

pd.pivot_table(data = whr_all_years, index='region', values='happiness_score').sort_values(by='happiness_score', ascending=False)

                                 happiness_score
region
Australia and New Zealand               7.302500
North America                           7.227167
Western Europe                          6.693000
Latin America and Caribbean             6.069074
Eastern Asia                            5.632333
Middle East and Northern Africa         5.387879
Central and Eastern Europe              5.371184
Southeastern Asia                       5.364077
Southern Asia                           4.590857
Sub-Saharan Africa                      4.150957

In [3]:
# Average happiness score by region by year (sorted by 2017 desc)

pd.pivot_table(data=whr_all_years, index='region', columns='year', values='happiness_score').sort_values(by=2017, ascending=False)

year                                 2015      2016      2017
region
Australia and New Zealand        7.285000  7.323500  7.299000
North America                    7.273000  7.254000  7.154500
Western Europe                   6.689619  6.685667  6.703714
Latin America and Caribbean      6.144682  6.101750  5.957818
Eastern Asia                     5.626167  5.624167  5.646667
Southeastern Asia                5.317444  5.338889  5.444875
Central and Eastern Europe       5.332931  5.370690  5.409931
Middle East and Northern Africa  5.406900  5.386053  5.369684
Southern Asia                    4.580857  4.563286  4.628429
Sub-Saharan Africa               4.202800  4.136421  4.111949

In [4]:
# Happies countries across 2015-2017

happiness_rank = whr_all_years.pivot_table(index='country', values='happiness_rank', aggfunc=np.median).sort_values(by='happiness_rank')

happiness_rank['rank'] = happiness_rank['happiness_rank'].rank(method='dense')
happiness_rank.drop('happiness_rank', inplace=True, axis=1)
happiness_rank.rename({'rank':'happiness_rank'}, axis=1)
happiness_rank['rank'] = happiness_rank['rank'].astype(int)
happiness_rank

                          rank
country
Denmark                      1
Switzerland                  1
Iceland                      2
Norway                       3
Finland                      4
Canada                       5
Netherlands                  6
New Zealand                  7
Sweden                       8
Australia                    9
Israel                      10
Costa Rica                  11
Austria                     12
United States               13
Puerto Rico                 14
Germany                     15
Brazil                      16
Belgium                     17
Luxembourg                  17
Ireland                     17
United Kingdom              18
Mexico                      18
United Arab Emirates        18
Oman                        19
Singapore                   20
Chile                       20
Panama                      21
Argentina                   22
Czech Republic              23
Uruguay                     24
...                        ...
Senegal                    103
Bulgaria                   104
Sudan                      105
Zimbabwe                   106
Malawi                     107
Gabon                      108
Mali                       109
Haiti                      110
Botswana                   111
Comoros                    112
Ivory Coast                112
Cambodia                   113
Angola                     113
Uganda                     114
Niger                      115
Chad                       116
South Sudan                117
Burkina Faso               117
Yemen                      118
Madagascar                 119
Liberia                    120
Tanzania                   121
Guinea                     122
Central African Republic   123
Rwanda                     124
Benin                      125
Afghanistan                125
Togo                       126
Syria                      127
Burundi                    128

[164 rows x 1 columns]

In [5]:
# Happiness rank by year (sorted by 2017)

whr_all_years.pivot_table(index='country', columns='year', values='happiness_rank').sort_values(by=2017)

year                       2015   2016   2017
country
Norway                      4.0    4.0    1.0
Denmark                     3.0    1.0    2.0
Iceland                     2.0    3.0    3.0
Switzerland                 1.0    2.0    4.0
Finland                     6.0    5.0    5.0
Netherlands                 7.0    7.0    6.0
Canada                      5.0    6.0    7.0
New Zealand                 9.0    8.0    8.0
Sweden                      8.0   10.0    9.0
Australia                  10.0    9.0   10.0
Israel                     11.0   11.0   11.0
Costa Rica                 12.0   14.0   12.0
Austria                    13.0   12.0   13.0
United States              15.0   13.0   14.0
Ireland                    18.0   19.0   15.0
Germany                    26.0   16.0   16.0
Belgium                    19.0   18.0   17.0
Luxembourg                 17.0   20.0   18.0
United Kingdom             21.0   23.0   19.0
Chile                      27.0   24.0   20.0
United Arab Emirates       20.0   28.0   21.0
Brazil                     16.0   17.0   22.0
Czech Republic             31.0   27.0   23.0
Argentina                  30.0   26.0   24.0
Mexico                     14.0   21.0   25.0
Singapore                  24.0   22.0   26.0
Malta                      37.0   30.0   27.0
Uruguay                    32.0   29.0   28.0
Guatemala                  43.0   39.0   29.0
Panama                     25.0   25.0   30.0
...                         ...    ...    ...
Niger                     144.0  142.0  135.0
Malawi                    131.0  132.0  136.0
Chad                      149.0  144.0  137.0
Zimbabwe                  115.0  131.0  138.0
Lesotho                    97.0    NaN  139.0
Angola                    137.0  141.0  140.0
Afghanistan               153.0  154.0  141.0
Botswana                  128.0  137.0  142.0
Benin                     155.0  153.0  143.0
Madagascar                147.0  148.0  144.0
Haiti                     119.0  136.0  145.0
Yemen                     136.0  147.0  146.0
South Sudan                 NaN  143.0  147.0
Liberia                   116.0  150.0  148.0
Guinea                    150.0  151.0  149.0
Togo                      158.0  155.0  150.0
Rwanda                    154.0  152.0  151.0
Syria                     156.0  156.0  152.0
Tanzania                  146.0  149.0  153.0
Burundi                   157.0  157.0  154.0
Central African Republic  148.0    NaN  155.0
Comoros                   140.0  138.0    NaN
Djibouti                  126.0    NaN    NaN
Laos                       99.0  102.0    NaN
Oman                       22.0    NaN    NaN
Puerto Rico                 NaN   15.0    NaN
Somaliland Region           NaN   97.0    NaN
Somaliland region          91.0    NaN    NaN
Suriname                   40.0   40.0    NaN
Swaziland                 101.0    NaN    NaN

[164 rows x 3 columns]

In [6]:
whr_all_years.describe()

,happiness_rank,happiness_score,economy_gdp_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,year
count,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000
mean,78.829787,5.370728,0.927830,0.990347,0.579968,0.402828,0.134790,0.242241,2.092717,2015.993617
std,45.281408,1.136998,0.415584,0.318707,0.240161,0.150356,0.111313,0.131543,0.565772,0.816907
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.000000
25%,40.000000,4.509000,0.605292,0.793000,0.402301,0.297615,0.059777,0.152831,1.737975,2015.000000
50%,79.000000,5.282500,0.995439,1.025665,0.630053,0.418347,0.099502,0.223140,2.094640,2016.000000
75%,118.000000,6.233750,1.252443,1.228745,0.768298,0.516850,0.173161,0.315824,2.455575,2017.000000
max,158.000000,7.587000,1.870766,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,2017.000000

In [11]:
# Countries with least trust in government

whr_all_years.pivot_table(index='country', values='trust_government_corruption').sort_values(by='trust_government_corruption')

                        trust_government_corruption
country
Bosnia and Herzegovina                     0.000757
Romania                                    0.005889
Indonesia                                  0.006179
Bulgaria                                   0.008641
Trinidad and Tobago                        0.010925
Lithuania                                  0.013459
Portugal                                   0.013953
Moldova                                    0.015090
Ukraine                                    0.023643
China                                      0.026018
Italy                                      0.027533
Slovakia                                   0.029330
Swaziland                                  0.030600
Thailand                                   0.030604
Mongolia                                   0.030804
Nigeria                                    0.032307
Greece                                     0.032843
Russia                                     0.032958
Ghana                                      0.033829
Armenia                                    0.033945
Czech Republic                             0.034418
Croatia                                    0.035808
Hungary                                    0.036312
Serbia                                     0.036821
Lebanon                                    0.037981
Slovenia                                   0.039783
Jamaica                                    0.040399
Kyrgyzstan                                 0.043126
Liberia                                    0.049929
Colombia                                   0.050620
...                                             ...
Kuwait                                     0.235980
Belgium                                    0.246408
Germany                                    0.260224
Bahrain                                    0.273587
Uzbekistan                                 0.279373
Djibouti                                   0.281050
Turkmenistan                               0.284127
United Kingdom                             0.286696
Ireland                                    0.294319
Somalia                                    0.297105
Saudi Arabia                               0.299584
Netherlands                                0.300024
Canada                                     0.310077
Georgia                                    0.317926
Oman                                       0.325240
Australia                                  0.326955
Hong Kong                                  0.327215
Norway                                     0.346251
Luxembourg                                 0.350035
United Arab Emirates                       0.355310
Somaliland Region                          0.367940
Somaliland region                          0.399280
Switzerland                                0.399606
Finland                                    0.402124
New Zealand                                0.410359
Sweden                                     0.410503
Denmark                                    0.442957
Singapore                                  0.475426
Qatar                                      0.480623
Rwanda                                     0.504113

[164 rows x 1 columns]

In [19]:
# Countries with most trust in government

whr_all_years.pivot_table(index='country', values='trust_government_corruption').sort_values(by='trust_government_corruption', ascending=False)

                        trust_government_corruption
country
Rwanda                                     0.504113
Qatar                                      0.480623
Singapore                                  0.475426
Denmark                                    0.442957
Sweden                                     0.410503
New Zealand                                0.410359
Finland                                    0.402124
Switzerland                                0.399606
Somaliland region                          0.399280
Somaliland Region                          0.367940
United Arab Emirates                       0.355310
Luxembourg                                 0.350035
Norway                                     0.346251
Hong Kong                                  0.327215
Australia                                  0.326955
Oman                                       0.325240
Georgia                                    0.317926
Canada                                     0.310077
Netherlands                                0.300024
Saudi Arabia                               0.299584
Somalia                                    0.297105
Ireland                                    0.294319
United Kingdom                             0.286696
Turkmenistan                               0.284127
Djibouti                                   0.281050
Uzbekistan                                 0.279373
Bahrain                                    0.273587
Germany                                    0.260224
Belgium                                    0.246408
Kuwait                                     0.235980
...                                             ...
Colombia                                   0.050620
Liberia                                    0.049929
Kyrgyzstan                                 0.043126
Jamaica                                    0.040399
Slovenia                                   0.039783
Lebanon                                    0.037981
Serbia                                     0.036821
Hungary                                    0.036312
Croatia                                    0.035808
Czech Republic                             0.034418
Armenia                                    0.033945
Ghana                                      0.033829
Russia                                     0.032958
Greece                                     0.032843
Nigeria                                    0.032307
Mongolia                                   0.030804
Thailand                                   0.030604
Swaziland                                  0.030600
Slovakia                                   0.029330
Italy                                      0.027533
China                                      0.026018
Ukraine                                    0.023643
Moldova                                    0.015090
Portugal                                   0.013953
Lithuania                                  0.013459
Trinidad and Tobago                        0.010925
Bulgaria                                   0.008641
Indonesia                                  0.006179
Romania                                    0.005889
Bosnia and Herzegovina                     0.000757

[164 rows x 1 columns]