In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

whr_all_years = pd.read_csv('../data/years_combined.csv')

In [2]:
# Average happiness score by region by year

pd.pivot_table(data = whr_all_years, index='region', values='happiness_score').sort_values(by='happiness_score', ascending=False)

                                 happiness_score
region
Australia and New Zealand               7.302500
North America                           7.227167
Western Europe                          6.693000
Latin America and Caribbean             6.069074
Eastern Asia                            5.632333
Middle East and Northern Africa         5.387879
Central and Eastern Europe              5.371184
Southeastern Asia                       5.364077
Southern Asia                           4.590857
Sub-Saharan Africa                      4.150957

In [3]:
# Average happiness score by region by year (sorted by 2017 desc)

pd.pivot_table(data=whr_all_years, index='region', columns='year', values='happiness_score').sort_values(by=2017, ascending=False)

year                                 2015      2016      2017
region
Australia and New Zealand        7.285000  7.323500  7.299000
North America                    7.273000  7.254000  7.154500
Western Europe                   6.689619  6.685667  6.703714
Latin America and Caribbean      6.144682  6.101750  5.957818
Eastern Asia                     5.626167  5.624167  5.646667
Southeastern Asia                5.317444  5.338889  5.444875
Central and Eastern Europe       5.332931  5.370690  5.409931
Middle East and Northern Africa  5.406900  5.386053  5.369684
Southern Asia                    4.580857  4.563286  4.628429
Sub-Saharan Africa               4.202800  4.136421  4.111949

In [9]:
# Happies countries across 2015-2017

happiness_rank = whr_all_years.pivot_table(index='country', values='happiness_rank', aggfunc=np.median).sort_values(by='happiness_rank')

happiness_rank['rank'] = happiness_rank['happiness_rank'].rank(method='dense')
happiness_rank.drop('happiness_rank', inplace=True, axis=1)
happiness_rank.rename({'rank':'happiness_rank'}, axis=1)
happiness_rank['rank'] = happiness_rank['rank'].astype(int)
happiness_rank

                          rank
country
Denmark                      1
Switzerland                  1
Iceland                      2
Norway                       3
Finland                      4
Canada                       5
Netherlands                  6
New Zealand                  7
Sweden                       8
Australia                    9
Israel                      10
Costa Rica                  11
Austria                     12
United States               13
Puerto Rico                 14
Germany                     15
Brazil                      16
Belgium                     17
Luxembourg                  17
Ireland                     17
United Kingdom              18
Mexico                      18
United Arab Emirates        18
Oman                        19
Singapore                   20
Chile                       20
Panama                      21
Argentina                   22
Czech Republic              23
Uruguay                     24
...                        ...
Senegal                    103
Bulgaria                   104
Sudan                      105
Zimbabwe                   106
Malawi                     107
Gabon                      108
Mali                       109
Haiti                      110
Botswana                   111
Comoros                    112
Ivory Coast                112
Cambodia                   113
Angola                     113
Uganda                     114
Niger                      115
Chad                       116
South Sudan                117
Burkina Faso               117
Yemen                      118
Madagascar                 119
Liberia                    120
Tanzania                   121
Guinea                     122
Central African Republic   123
Rwanda                     124
Benin                      125
Afghanistan                125
Togo                       126
Syria                      127
Burundi                    128

[164 rows x 1 columns]

In [5]:
# Happiness rank by year (sorted by 2017)

whr_all_years.pivot_table(index='country', columns='year', values='happiness_rank').sort_values(by=2017)

year                       2015   2016   2017
country
Norway                      4.0    4.0    1.0
Denmark                     3.0    1.0    2.0
Iceland                     2.0    3.0    3.0
Switzerland                 1.0    2.0    4.0
Finland                     6.0    5.0    5.0
Netherlands                 7.0    7.0    6.0
Canada                      5.0    6.0    7.0
New Zealand                 9.0    8.0    8.0
Sweden                      8.0   10.0    9.0
Australia                  10.0    9.0   10.0
Israel                     11.0   11.0   11.0
Costa Rica                 12.0   14.0   12.0
Austria                    13.0   12.0   13.0
United States              15.0   13.0   14.0
Ireland                    18.0   19.0   15.0
Germany                    26.0   16.0   16.0
Belgium                    19.0   18.0   17.0
Luxembourg                 17.0   20.0   18.0
United Kingdom             21.0   23.0   19.0
Chile                      27.0   24.0   20.0
United Arab Emirates       20.0   28.0   21.0
Brazil                     16.0   17.0   22.0
Czech Republic             31.0   27.0   23.0
Argentina                  30.0   26.0   24.0
Mexico                     14.0   21.0   25.0
Singapore                  24.0   22.0   26.0
Malta                      37.0   30.0   27.0
Uruguay                    32.0   29.0   28.0
Guatemala                  43.0   39.0   29.0
Panama                     25.0   25.0   30.0
...                         ...    ...    ...
Niger                     144.0  142.0  135.0
Malawi                    131.0  132.0  136.0
Chad                      149.0  144.0  137.0
Zimbabwe                  115.0  131.0  138.0
Lesotho                    97.0    NaN  139.0
Angola                    137.0  141.0  140.0
Afghanistan               153.0  154.0  141.0
Botswana                  128.0  137.0  142.0
Benin                     155.0  153.0  143.0
Madagascar                147.0  148.0  144.0
Haiti                     119.0  136.0  145.0
Yemen                     136.0  147.0  146.0
South Sudan                 NaN  143.0  147.0
Liberia                   116.0  150.0  148.0
Guinea                    150.0  151.0  149.0
Togo                      158.0  155.0  150.0
Rwanda                    154.0  152.0  151.0
Syria                     156.0  156.0  152.0
Tanzania                  146.0  149.0  153.0
Burundi                   157.0  157.0  154.0
Central African Republic  148.0    NaN  155.0
Comoros                   140.0  138.0    NaN
Djibouti                  126.0    NaN    NaN
Laos                       99.0  102.0    NaN
Oman                       22.0    NaN    NaN
Puerto Rico                 NaN   15.0    NaN
Somaliland Region           NaN   97.0    NaN
Somaliland region          91.0    NaN    NaN
Suriname                   40.0   40.0    NaN
Swaziland                 101.0    NaN    NaN

[164 rows x 3 columns]

In [6]:
whr_all_years.head(20)

,country,happiness_rank,happiness_score,economy_gdp_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,year,region
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,Western Europe
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,Western Europe
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,Western Europe
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,Western Europe
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,North America
5,Finland,6,7.406,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015,Western Europe
6,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,2015,Western Europe
7,Sweden,8,7.364,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,2015,Western Europe
8,New Zealand,9,7.286,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015,Australia and New Zealand
9,Australia,10,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015,Australia and New Zealand
10,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854,2015,Middle East and Northern Africa
11,Costa Rica,12,7.226,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728,2015,Latin America and Caribbean
12,Austria,13,7.200,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320,2015,Western Europe
13,Mexico,14,7.187,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214,2015,Latin America and Caribbean
14,United States,15,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011,2015,North America
15,Brazil,16,6.983,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001,2015,Latin America and Caribbean
16,Luxembourg,17,6.946,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961,2015,Western Europe
17,Ireland,18,6.940,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.97570,2015,Western Europe
18,Belgium,19,6.937,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2.41484,2015,Western Europe
19,United Arab Emirates,20,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,2015,Middle East and Northern Africa

In [7]:
whr_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 12 columns):
country                        470 non-null object
happiness_rank                 470 non-null int64
happiness_score                470 non-null float64
economy_gdp_per_capita         470 non-null float64
family                         470 non-null float64
health_life_expectancy         470 non-null float64
freedom                        470 non-null float64
trust_government_corruption    470 non-null float64
generosity                     470 non-null float64
dystopia_residual              470 non-null float64
year                           470 non-null int64
region                         470 non-null object
dtypes: float64(8), int64(2), object(2)
memory usage: 44.1+ KB